ng-sidebar-container {
  height: 100vh;
}

header {
  background-color: #e6e6e6;
  width: 100%;
}

:host ::ng-deep .ng-sidebar {
  background-color: #d9d9d9;
  width: 180px;
}

.sidebar-content {
  height: 100%;
  background-color: #ccc;
}

.title {
  margin: 0;
  text-align: center;
}

.menu-icon {
  position: absolute;
  left: 0px;
  border: 0;
  padding-top: 2px;
}

.menu-list {
  padding-top: 15px;
  padding-left: 20px;
}

.item-container {
  margin-top: 5px;
}

.child-menu-item {
  margin-top: 5px;
  margin-left: 20px;
}

.menu-item-title, .child-menu-item-title {
  padding-left: 5px;
}

.carat {
  float: right;
  padding-right: 5px;
}

.menu-item:hover, .child-menu-item:hover {
  color: #f00;
}

.menu-item, .child-menu-item, .menu-icon {
  cursor: pointer;
}
