<header>
  <button class="menu-icon" (click)="_toggleSidebar()" (mousedown)="onMouseDown($event)"><fa-icon [icon]="faBars" size="2x"></fa-icon></button>
  <h2 class="title">Sports League Portal</h2>
</header>
<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar #sidebar [(opened)]="_opened" [mode]="'slide'" [sidebarClass]="'sidebar'">
    <div class="menu-list">
      <div class="item-container" *ngFor="let item of menuItems; let i = index">
        <div class="menu-item" (click)="onItemClicked(item)">
          <fa-icon [icon]="item.icon" [fixedWidth]="true"></fa-icon>
          <a class="menu-item-title">{{ item.title }}</a>
          <span class="carat" *ngIf="item.children && item.isCollapsed">
            <fa-icon [icon]="faAngleDown" [fixedWidth]="true"></fa-icon>
          </span>
          <span class="carat" *ngIf="item.children && !item.isCollapsed">
            <fa-icon [icon]="faAngleUp" [fixedWidth]="true"></fa-icon>
          </span>
        </div>
        <div *ngIf="!item.isCollapsed">
          <div class="child-menu-item" *ngFor="let child of item.children" (click)="onItemClicked(child)">
            <fa-icon [icon]="child.icon" [fixedWidth]="true"></fa-icon>
            <a class="chid-menu-item-title">{{ child.title }}</a>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="sidebar-content">
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>
