ng-sidebar-container {
  height: 100vh;
}

header {
  background-color: #e6e6e6;
}

:host ::ng-deep .ng-sidebar {
  background-color: #d9d9d9;
}

.sidebar-content {
  height: 100%;
  background-color: #ccc;
}

.title {
  margin: 0;
  text-align: center;
}

.menu-icon {
  float: left;
}
